$appBarHeight: 56px;
$navBottomHeight: 56px;
$navDrawerWidth: 256px;
$navRailWidth: 72px;

.main-layout {
  #navDrawer {
    grid-area: navDrawer;
  }

  #navRail {
    grid-area: navRail;
  }

  #appBar {
    grid-area: appBar;
    position: fixed;
    height:$appBarHeight ;
    top: 0;
    left: 0;
    width: 100%;
  }

  #appBar {
    // transition: transform 0.2s;
    grid-area: appBar;
  }

  #navBottom {
    grid-area: navBottom;
  }

  #appContent {
    overflow: auto;
    padding-top: $appBarHeight + 10px  ;
    padding-bottom:  10px  ;

  }

  display: grid;
  height: 100%;
  overflow: hidden;

  grid-template-areas:
    "content"
    "navBottom";
  grid-template-rows: auto $navBottomHeight;
  grid-template-columns: auto;
  grid-gap: 0px;

  &--medium {
    grid-gap: 10px;
    grid-template-areas:
      "navRail appBar"
      "navRail content";
    grid-template-rows: $appBarHeight auto;
    grid-template-columns: $navRailWidth auto;
    #appBar {
      position: static;
    }
    #appContent {
      padding: 0px;
    }
  }

  &--large {
    grid-gap: 10px;
    grid-template-areas:
      "navDrawer appBar"
      "navDrawer content";
    grid-template-rows: $appBarHeight auto;
    grid-template-columns: $navDrawerWidth auto;
    #appBar {
      position: static;
    }
    #appContent {
      padding: 0px;
    }
  }
}
