.navigation-bottom{
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    height: 56px;
    box-shadow: $flat-default;
    .nav-button{
        flex-grow: 1;
        max-width: 168px;
        font-size: 12px;
        padding: auto 12px;
        margin: 0;
        background: none;
        border: none;
        outline: none;
        // &--active{
        //     background-color: red;
        // }
    }
}