@import 'all';

body {
  background-color: #eef0f4;
    color: $text-color; 
}

.App {
  /* text-align: center; */
  max-width: 728px;
  margin: 0 auto;
}

.header {
  /* background-color: #181717; */
  // height: 10vh;
  text-align: center;
  min-height: 50px;
  /* color: white; */
  width: 100%;
  max-width: 728px;
  // display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;

  .header__button {
    height: 100%;
    flex-grow: 1;
    &--active {
      background-color: rgb(192, 192, 192);
    }
  }
}

.main-content{
  padding: 10px;
}

.workouts{
  max-width: 500px;
  margin: 0 auto;
  &__selection{
    // maxHeight: "600px",
    // overflow: "auto",
    // display: flex;
    // flex-wrap: wrap;

  }
}

.workout-item{
  // border: 1px solid black;
  // margin:0.5rem 0.5rem 0.5rem 0;
  margin:1rem 0.5rem 1rem 0;
  display: flex;
  align-items: center;
  &__name{
    flex-grow: 1;
    &__index{
      // font-weight: 800;
    }
  }
  &__buttons .button{
    margin-left: 1.5em;
  }
}